<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :username, placeholder: "Username" %>
  <br><br>
  <%= f.text_field :name, placeholder: "Name" %>
  <br><br>
  <%= f.text_field :email, placeholder: "Email" %>
  <br><br>
  <%= f.fields_for :partner do |p| %>
    <p> Partner Info</p>
    <%= p.text_field :name, placeholder: "Partner's Name" %>
    <br><br>
    <%= p.text_field :email, placeholder: "Partner's Email" %>
    <br><br>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
