<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<h1 id='name'><%= @user.name %></h1>
<div class='info'>
  <div id='profile-picture'>
    <%= image_tag('/assets/halloween.jpg', id: 'profile-picture') %>
  </div>
  <div class='user-stats'>
    <p><%= @user.email %></p>
    <p>Number of Partners: <%= @user.partners.count %></p>
  </div>
  <div class='horizontal-line'></div>
</div>
