<div class='info'
  <h1>Email Results </h1>
  <div class ="email-feedback">
    <% if @email.score >= 0.0 %>
      <p id="positive">
    <% else %>
      <p id="negative">
    <% end %>
    <%= @email.sentiment.titleize %>
    <br>
    <%= @email.score %>
      </p>
    <br>
    <div id="email-content">
      <p><%= @email.text %></p>
    </div>
    <p>Sent On: <%=@email.sent_at %></p>
  </div>
</div>

<%= link_to 'Home', edit_user_path(@user) %>
<%= link_to 'Back', emails_path(partner: @partner.id) %>
